header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#foreg,
#backg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
#backg{
    z-index: 0;
}
#foreg {
  z-index: 2;
}
#title {
  z-index: -1;
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: 700;
  z-index: 900;
}
section {
  padding: 3rem;
  background-color: #333;
  font-size: 1rem;
}
