img{
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -1;
}
header{
  overflow-x: hidden;
  height: 80vh;
}
h1{
  text-align: center;
  position: relative;
  top: 50%;
}