@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+Rounded+1c:wght@500&family=Outfit:wght@300&family=PT+Sans&family=Poppins&display=swap');

::-webkit-scrollbar{
    width: 10px;
    background: #8e8e8e;
}
::-webkit-scrollbar-thumb{
    background-color: #d96045;
    border-radius: 9px;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li{
    margin: 0 10px;
}
nav ul li a{
    color: white;
}
.navBrand{
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
}
.f{
    color: #d96045;
    margin-right: 2px;
}
.h{
    color: #fff;
}
.nav-link{
    color: #d96045 !important;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
}
.saya{
    border: 3px solid #d96045;
}
.saya:hover{
    background-color: #d96045;
}
.nav-link:hover{
    color: #fff !important;
}
.wrap{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 100px;
}
.header{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.f-bromo,
.b-bromo{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.b-bromo{
    transform: translateZ(-100px) scale(2.02);
    z-index: -3;
}
.f-bromo{
    transform: translateZ(-50px) scale(1.52);
    z-index: -1;
}
.title{
    position: absolute;
    color: #d96045;
    font-size: 178px;
    transform: translateZ(-70px) scale(1.7);
    top: 13%;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    overflow:hidden;
    z-index: -2;
    }
.ol{
    color: #ffffff !important;
    font-size: 182px !important;
}
.button{
    position: absolute;
    text-decoration:none;
    padding: 10px 20px;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: 3px solid #d96045;
    background-color: #d96045;
    font-weight: 600;
    bottom: 43%;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
.button:hover{
    color: #d96045;
    background-color: transparent;
    border-color: #d96045;
}
.subtitle{
    position: absolute;
    font-family: 'Outfit', sans-serif;
    font-size: large;
    color: white;
    bottom: 49%;
    z-index: -2;
}
.desc-bromo{
    position: absolute;
    background-color: white;
    width: 24vw;
    padding: 15px 20px;
    left: 0;
    top: 74vh;
    transition: 600ms ease-in-out forwards;
}
.w-bromo{
    width: 80%;
    margin-left: auto;
}
.t-bromo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.d-bromo{
    font-family: 'Outfit', sans-serif;
}
.tx-bromo{
    color: white;
    background-color: #000;
    padding: 1px 3px;
}
.data-indo{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #46211a;
}
.indonesia{
    position: absolute;
    margin-top: 100px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.image{
    width: 60vw;
    height: 100%;
}
.image img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}
.kotak{
    height: 170px;
    width: 20px;
    background-color: #d96045;
    position: absolute;
    left: 52%;
    top: 50%;
}
.indonesia .teks{
    color: white;
    margin: auto;
    padding: 5px 2vw;
    width: 45%;
    height: 50%;
}
.surga{
    color: #d96045;
}
@media screen and (max-width:540px) {
    nav{
        background-color: #000;
    }
    nav .container{
        background-color: #000;
        color: white;
    }
    .title{
        font-size: 54px;
        top: 32%;
    }
    .ol{
        font-size: 56px !important;
    }
    .button{
        bottom: 38%;
    }
    .subtitle{
        font-size: medium;
        text-align: center;
    }
    .desc-bromo{
        left: -20vw;
        position: absolute;
        background-color: white;
        padding: 10px 20px;
        width: 80vw;
        top: 74vh;
    }
    .t-bromo{
        font-size: large;
    }
    .d-bromo{
        font-size: small;
    }
}